name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: prashanth291
          template: classic
          base: header, activity, community, repositories, metadata
          # Adding LeetCode Knight stats here
          # plugin_leetcode: yes
          # plugin_leetcode_user: prashanth_d4
          # plugin_leetcode_sections: solved, community, contest
          config_timezone: Asia/Kolkata
